/* line 1, ../sass/players.sass */
body {
  margin: 0;
  padding: 0;
  background: black;
}

/* line 7, ../sass/players.sass */
#dmge_player_view canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, ../sass/players.sass */
#dmge_player_view canvas#player_grid {
  opacity: 0.5;
}
/* line 15, ../sass/players.sass */
#dmge_player_view canvas#player_fow {
  opacity: 1;
}
