/* line 1, ../sass/players.sass */
body {
  margin: 0;
  padding: 0;
  background: black;
}

/* line 7, ../sass/players.sass */
#dmge_player_view canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 11, ../sass/players.sass */
#dmge_player_view canvas#player_grid {
  z-index: 300;
}
/* line 13, ../sass/players.sass */
#dmge_player_view canvas#player_fow {
  z-index: 200;
  opacity: 1;
}
/* line 16, ../sass/players.sass */
#dmge_player_view canvas#player_map {
  z-index: 100;
}
