/* line 2, ../sass/players.sass */
#dmge_player_view canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/players.sass */
#player_fow {
  opacity: 1;
}
