@charset "UTF-8";
/* DGME */
@import url("https://fonts.googleapis.com/css?family=Passion+One|Roboto");
/* line 5, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
#cursor {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 5000;
  display: none;
}
/* line 17, ../sass/screen.sass */
#cursor.active {
  display: block;
}
/* line 19, ../sass/screen.sass */
#cursor, #cursor * {
  pointer-events: none;
}

/* line 23, ../sass/screen.sass */
body, body.admin-menu {
  margin: 0 !important;
  padding: 0;
  background: black;
}

/* line 30, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

/* line 34, ../sass/screen.sass */
p {
  line-height: 1.5em;
  margin: 0 0 10px;
}

/* line 38, ../sass/screen.sass */
sup {
  font-size: 0.7em;
}

/* line 41, ../sass/screen.sass */
ul, ol {
  margin: 0 0 20px;
}

/* line 43, ../sass/screen.sass */
ol {
  padding: 0 0 0 20px;
}
/* line 45, ../sass/screen.sass */
ol li {
  list-style: decimal;
}

/* line 48, ../sass/screen.sass */
#fow_wrapper {
  z-index: 101;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0.5;
}

/* line 56, ../sass/screen.sass */
video {
  display: none;
}

/* line 60, ../sass/screen.sass */
#dmge canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
}
/* line 67, ../sass/screen.sass */
#dmge canvas.grid_canvas {
  z-index: 500;
}
/* line 69, ../sass/screen.sass */
#dmge canvas.fow_canvas {
  display: none;
  z-index: 150;
}
/* line 72, ../sass/screen.sass */
#dmge canvas.fow_canvas.active {
  cursor: none;
  pointer-events: all;
  display: block;
}

/* line 77, ../sass/screen.sass */
#grid_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  pointer-events: none;
}
/* line 85, ../sass/screen.sass */
#grid_wrapper.grid_marking {
  pointer-events: all;
}

/* line 88, ../sass/screen.sass */
.hideBrush {
  opacity: 0;
}
/* line 90, ../sass/screen.sass */
.fow_canvas .hideBrush {
  cursor: pointer !important;
}

/* line 93, ../sass/screen.sass */
.active {
  display: block;
}

/* line 96, ../sass/screen.sass */
#map_wrapper {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 101, ../sass/screen.sass */
#map_wrapper img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
/* line 106, ../sass/screen.sass */
#map_wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* line 111, ../sass/screen.sass */
#map_video_wrapper {
  display: none;
}

/* line 114, ../sass/screen.sass */
.map_grid_type, .map_grid_property, .fow_brush_property {
  position: relative;
  margin: 0 0 20px;
}

/* line 118, ../sass/screen.sass */
.map_grid_type {
  display: inline-block;
  white-space: nowrap;
  margin: 0 20px 20px 0;
}

/* line 123, ../sass/screen.sass */
#map_file_settings, #fow_settings, #grid_settings {
  padding: 20px 0;
  position: relative;
}

/* line 127, ../sass/screen.sass */
input[type=range] {
  width: auto;
}

/* line 130, ../sass/screen.sass */
output {
  background: darkred;
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  bottom: 0;
  pointer-events: none;
}

/* line 142, ../sass/screen.sass */
#wrench {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  z-index: 1500;
  text-align: center;
  font-size: 40px;
  padding: 10px 0;
  background: white;
  cursor: pointer;
}
/* line 153, ../sass/screen.sass */
#wrench:hover {
  background: black;
  color: white;
}
/* line 157, ../sass/screen.sass */
#wrench.newbie #wrench_innerwrapper {
  animation: wrench 2.5s ease infinite;
}
/* line 159, ../sass/screen.sass */
#wrench.newbie:before {
  position: absolute;
  content: "";
  white-space: nowrap;
  padding: 0 20px;
  background: black;
  font-family: "FontAwesome";
  font-size: 60px;
  color: white;
  display: block;
  top: 0;
  right: 140%;
  animation: horizontal 2s ease-in-out infinite;
}

/* line 173, ../sass/screen.sass */
#menu {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  display: block;
}
/* line 179, ../sass/screen.sass */
#menu a {
  font-size: 32px;
  padding: 16px;
}

/* line 183, ../sass/screen.sass */
#sidebar {
  top: 0;
  right: 0;
  width: 50%;
  display: none;
  position: fixed;
  min-width: 300px;
  background: white;
  overflow-y: scroll;
  overflow: hidden;
  z-index: 1000;
  height: 100%;
}
/* line 195, ../sass/screen.sass */
#sidebar.active {
  display: block;
}

/* line 198, ../sass/screen.sass */
#sidebar_innerwrapper {
  padding: 20px 20px 80px 20px;
  height: 100%;
}

/* line 202, ../sass/screen.sass */
#sidebar_tray {
  position: fixed;
  bottom: 0;
  text-align: left;
}
