body
  margin: 0
  padding: 0
  background: black

#dmge_player_view
  canvas
    position: absolute
    top: 0
    left: 0
    &#player_grid
      z-index: 300
      opacity: 0.5
    &#player_fow
      z-index: 200
      opacity: 1
    &#player_map
      z-index: 100
