/* DGME */

@import "compass/reset"
@import "compass/css3/transition"
@import "compass/css3/box-shadow"
@import "compass/css3/transform"
@import "compass/css3/text-shadow"
@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto')

$g: 20px

.messages
  position: absolute
  z-index: 9999
  overflow: hidden
  top: 50%
  left: 0
  width: 0
  padding: 0
  margin: 0
  +single-transition(all, 1s, ease-in-out)
  &:hover
    +single-transition(all, 1s, ease-in-out)
    width: 100%

#cursor
  +transition(opacity 0.5s)
  position: absolute
  z-index: 5000
  display: none
  &.active
    display: block
  &, *
    pointer-events: none

body
  &, &.admin-menu
    margin: 0 !important
    padding: 0
    font-family: 'Roboto', sans-serif
    background: black

h1, h2, h3, h4, h5, h6
  font-family: 'Passion One', cursive
  margin: 0 0 $g/2

p
  line-height: 1.5em
  margin: 0 0 $g/2

sup
  font-size: 0.7em

ul, ol
  margin: 0 0 $g
ol
  padding: 0 0 0 $g
  li
    list-style: decimal

.notouchie
  pointer-events: none
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none

=notouchie
  pointer-events: none
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none

.touchme
  pointer-events: all
  user-select: all
  -webkit-user-select: all
  -moz-user-select: all

=touchme
  pointer-events: all
  user-select: all
  -webkit-user-select: all
  -moz-user-select: all

video
  display: none

#dmge
  canvas
    position: absolute
    z-index: 100
    left: 0px
    top: 0px
    border: 1px solid white
    background: none
    &.tokens_canvas
      z-index: 550
    &.grid_canvas
      z-index: 500
    &.particles_canvas
      z-index: 125
    &.fow_canvas
      pointer-events: none
      display: none
      z-index: 150
      &.active
        display: block
      &.brush-active
        pointer-events: all
        cursor: none

.hideBrush
  opacity: 0
  .fow_canvas &
    cursor: pointer !important

.active
  display: block

#tokens_wrapper
  position: absolute
  z-index: 550
  pointer-events: none

#fow_wrapper
  position: absolute
  z-index: 150
  pointer-events: none
  opacity: 0.5

#particles_wrapper
  position: absolute
  z-index: 125
  pointer-events: none

#grid_wrapper
  position: absolute
  top: 0
  left: 0
  z-index: 500
  pointer-events: none

#map_wrapper
  z-index: 100
  position: absolute

#map_video_wrapper
  display: none

.map_grid_type, .map_grid_property, .fow_brush_property
  position: relative
  margin: 0 0 $g

.map_grid_type
  display: inline-block
  white-space: nowrap
  margin: 0 $g $g 0

#map_file_settings, #fow_settings, #grid_settings
  padding: $g 0
  position: relative

input[type=range]
  width: auto

output
  background: darkred
  width: 40px
  height: 30px
  text-align: center
  color: white
  display: inline-block
  font-size: 15px
  line-height: 30px
  bottom: 0
  pointer-events: none

#wrench
  position: fixed
  top: 0
  right: 0
  width: 60px
  z-index: 1500
  text-align: center
  font-size: 40px
  padding: 10px 0
  background: white
  cursor: pointer
  &:hover
    background: black
    color: white
  &.newbie
    #wrench_innerwrapper
      animation: wrench 2.5s ease infinite
    &:before
      position: absolute
      content: '\f0a4'
      white-space: nowrap
      padding: 0 $g
      line-height: normal
      background: black
      font-family: 'FontAwesome'
      font-size: 60px
      color: white
      display: block
      top: 0
      right: 140%
      animation: horizontal 2s ease-in-out infinite

#menu
  position: absolute
  top: 0
  left: 0
  height: auto
  display: block
  ul, li, ul li
    margin: 0
    padding: 0
  a
    display: block
    font-size: 32px
    padding: 16px

#sidebar
  top: 0
  right: 0
  width: 50%
  display: none
  position: fixed
  min-width: 300px
  background: white
  overflow: hidden
  overflow-y: scroll
  z-index: 1000
  height: 100%
  &.active
    display: block

#sidebar_innerwrapper
  padding: $g $g $g*4 $g*4
  height: 100%

#sidebar_tray
  position: fixed
  bottom: 0
  text-align: center
  button, input[type="button"]
    display: inline-block
    &, &:visited
      background: white
      border: none
      padding: 20px
    &:hover, &:active
      background: black
      color: white

.highlight
  background: lightblue

.css-triangle
  display: block
  float: left
  margin-right: 10px
  width: 0
  height: 0
  border-style: solid
  border-width: 0 8px 18px 8px
  border-color: transparent transparent #000000 transparent

.dialog
  z-index: 1080

.grid_setting
  display: inline-block
  margin-right: 4em
  text-align: center

.jsgrid-cell
  overflow: hidden

.temp_text
  z-index: 99999
  position: absolute
  pointer-events: none
  font-family: serif
