// Theme for DMGE

@import "compass/css3/box-shadow"

a, a:link, a:visited, input[type="button"], input[type="submit"]
  color: blue
  text-decoration: none
a:hover
  color: blue
  text-decoration: underline

#site-name
  font-size: 20px
  text-transform: uppercase
  line-height: 50px
  margin: 0
  padding: 0
  *, a, a:hover
    color: black
    text-decoration: none

#logo
  max-width: 50px
  width: 50px
  margin: 0
  padding: 0
  margin-right: 10px

.node-title
  font-weight: bold
  text-transform: uppercase

.node-add-to-cart, .node-readmore a
  display: block !important
  color: black !important
  background: none
  text-transform: uppercase
  text-align: center
  border: none
  padding: 20px
  margin: 0
  border: 1px solid black
  &:hover
    background: black !important
    color: white !important
    text-decoration: none

.artist, .node-type-artist
  .artist-tags
    a
      display: inline-block
      border: 1px solid black
      padding: 5px
      margin: 0 5px
      font-size: 10px
    &:first-child
      a
        margin-left: 0

.rate-widget
  font-size: 20px
  .rate-description
    display: block
    clear: both
    font-size: 10px
  .artists &
    //
