// Theme for DMGE

@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"

a, a:link, a:visited, input[type="button"], input[type="submit"]
  text-decoration: none
  color: black
a:hover
  text-decoration: none
  color: darkgrey

#header
  margin: $zen-gutter-width auto

#site-name
  font-size: 20px
  text-transform: uppercase
  line-height: 50px
  margin: 0
  padding: 0
  *, a, a:hover
    color: black
    text-decoration: none

#logo
  max-width: 50px
  width: 50px
  margin: 0
  padding: 0
  margin-right: 10px

.block__title, .block-title
  padding: 10px
  margin: 20px auto
  text-align: center
  border: none
  border-bottom: 1px solid black
  font-weight: normal
  &, h1, h2, h3, h4, h5, h6
    text-transform: uppercase
    font-size: 30px
    line-height: 30px
    letter-spacing: 1px

#navigation
  #main-menu
    li, .inline &, .links &
      &[class*="menu"]
        margin: 0
        padding: 0
        float: none
      a
        display: inline-block
        padding: 10px 20px
        text-transform: uppercase
        font-weight: normal
        letter-spacing: 0.25px
        &:hover
          background: black
          color: white
        &:first-child
          margin: 0

.breadcrumb
  +zen-grid-item(16, 1, right)
  +zen-float(right)
  +zen-clear(right)
  text-align: right
  white-space: nowrap
  position: relative
  z-index: 420
  ol, ul
    display: block
    li
      display: inline-block
      margin-left: $zen-gutter-width
      &:first-child
        margin: 0

li.attached-block
  position: relative
.menu-attach-block-wrapper
  position: absolute
  right: 0
  top: 100%
  z-index: 960
  +border-radius(none)
  +box-shadow(0 3px 6px black)
  background: white

#user-login, #block-user-login
  background: white
  padding: $zen-gutter-width
  .form-item
    margin: 0
    padding: 0
  .description
    display: none
  label
    font-weight: normal
    text-transform: uppercase
    font-size: 10px
  input[type=text], input[type=password], input[type=email]
    font-size: 15px
    padding: $zen-gutter-width/2
  input[type=submit], input[type=button], button, a, a:link
    background: white
    padding: $zen-gutter-width/2
    font-size: 10px
    border: none
    display: block
    text-align: left
    &:hover
      background: black
      color: white

  input[type=submit], input[type=button], button
    width: 100%

  .item-list
    margin: $zen-gutter-width/2 0
    ul
      margin: 0
      padding: 0
      li
        margin: 0
        padding: 0
        p
          margin: 0

#user-login
  input[type=submit], input[type=button], button, a, a:link
    font-size: 20px !important

.node-title
  font-weight: bold
  text-transform: uppercase

.node-add-to-cart, .node-readmore a
  display: block !important
  color: black !important
  background: none
  text-transform: uppercase
  text-align: center
  border: none
  padding: 20px
  margin: 0
  border: 1px solid black
  &:hover
    background: black !important
    color: white !important
    text-decoration: none

.resources
  &.frontpage
    .view-content
      display: flex
      flex-flow: row
      flex-wrap: wrap
      align-items: center
      align-content: center
      justify-content: center
    .resource
      .resource-title
        color: white
        background: black
        padding: $zen-gutter-width
        clear: both
        text-align: center
      .resource-image
        &, img
          padding: 0
          margin: 0 auto
          display: block

.library .resource, .node-type-resource
  .resource-title
    text-transform: uppercase
  .resource-image
    float: none
    clear: both
    text-align: center
  .map-author
    font-size: 10px
    display: block
    text-transform: uppercase
    line-height: 20px
    position: relative
    padding: 0 0 0 30px
    &:before
      position: absolute
      display: block
      font-size: 20px
      top: 0
      left: 0
      font-family: 'FontAwesome'
      content: '\f007'

  .resource-type
    font-size: 10px
    text-transform: uppercase
    position: relative
    line-height: 20px
    padding: 0 0 0 30px
    &:before
      position: absolute
      display: block
      font-size: 20px
      top: 0
      left: 0
      font-family: 'FontAwesome'
    &.animated
      &:before
        content: '\f03d'
    &.static
      &:before
        content: '\f03e'

  .resource-link
    margin: 0 0 50px 0
    a
      display: block
      text-align: center
      margin: 0
      padding: 20px
      line-height: 20px
      font-size: 20px
      border: 1px solid black
      &:hover
        color: grey
        border-color: grey
  .resource-tags
    ul, ul li, .item-list
      margin: 0
      padding: 0
      display: inline
    position: relative
    display: block
    padding: 0 0 0 30px
    text-transform: uppercase
    &:before
      position: absolute
      display: block
      font-size: 20px
      top: 0
      left: 0
      font-family: 'FontAwesome'
      content: '\f02c'
    a
      display: inline-block
      text-transform: uppercase
      font-size: 10px
      letter-spacing: 0.25px
      line-height: 20px
      padding: 0
      margin: 0
      &:first-child
        margin: 0
.node-resource
  +zen-grid-container()
  .resource-type
    +zen-grid-item(16, 1)
    margin: 0 0 10px 0
  .map-author
    +zen-grid-item(7, 1)
    +zen-clear(left)
  .resource-links
    +zen-grid-item(5, 11)
  .resource-tags
    +zen-grid-item(4, 6)
    +zen-clear(right)
  .rate-widget
    +zen-grid-item(3, 1)
    +zen-clear(left)

.artist, .node-type-artist
  .artist-image
    display: block
    margin: 0 auto
    text-align: center
  .artist-copy
    font-size: 16px
    line-height: 24px
    margin: 0 0 50px 0
  .artist-links
    margin-bottom: 20px
    &
      font-family: sans-serif
      text-transform: uppercase
      font-size: 10px
    ul
      margin: 0
      padding: 0
      list-style: none
      li
        margin: 0
        padding: 0
        list-style: none
        margin: 0 20px
        display: inline-block
        a
          display: block
          border: 1px solid black
          padding: 20px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
  .artist-tags
    position: relative
    padding: 0 0 0 20px
    margin: 0
    &:before
      position: absolute
      display: block
      font-size: 20px
      top: 0
      left: 0
      font-family: 'FontAwesome'
      content: '\f02c'
    a
      display: inline-block
      text-transform: uppercase
      font-size: 10px
      letter-spacing: 0.25px
      line-height: 20px
      padding: 0 20px
      &:first-child
        margin: 0
.node-artist
  .artist-links
    +zen-clear(left)
    +zen-grid-item(3, 1)
  .artist-image
    +zen-grid-item(4, 3)
  .artist-copy
    +zen-grid-item(7, 9)
  .artist-rating
    +zen-grid-item(6, 1)
    +zen-clear(left)
  .artist-tags
    +zen-grid-item(8, 9)
    +zen-clear(left)
  #block-views-library-author-maps-block
    +zen-clear(both)
  .rate-widget
    +zen-grid-item(6, 1)
    +zen-clear(left)

#block-views-artists-artist-block
  .artist
    +zen-clear(both)
    .artist-name
      font-size: 30px
      line-height: 30px
    .rate-widget
      +zen-grid-item(3, 1, right)

#block-views-library-author-maps-block
  //

.library
  .views-exposed-form
    label
      font-weight: normal
      text-transform: uppercase
    input[type=text]
      font-size: 20px
      line-height: 30px
      padding: 20px
      border: 1px solid black
    input[type='submit'], input[type='button']
      font-size: 20px
      line-height: 30px
      margin: 0 10px 0 0
      background: white
      border: 1px solid black
      padding: $zen-gutter-width
      &:hover
        background: black
        color: white

  .resource-group
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start
    padding: $zen-gutter-width 0
    margin: $zen-gutter-width 0
    border: none
  .resource-group-title
    width: 100%
    text-transform: uppercase
    border-bottom: 1px solid black
    margin-bottom: $zen-gutter-width*2
  .resource
    margin: 0 $zen-gutter-width $zen-gutter-width $zen-gutter-width
    padding: $zen-gutter-width
    &.views-row-odd
      &, a
        color: white
        background: black
      a
        &:hover
          color: grey
  .rate-widget
    font-size: 20px

.rate-widget
  position: relative
  font-size: 60px
  line-height: 60px
  margin: 0 0 20px 0
  padding: 0 0 0 50px
  &:before
    position: absolute
    display: block
    font-size: 20px
    top: 0
    left: 0
    font-family: 'FontAwesome'
    content: '\f005'
  .rate-button
    display: block
    clear: right
    float: right
    font-size: 15px
    line-height: 20px
    border: 1px solid black
    padding: 5px 10px 5px 0
    text-align: right
    margin: 5px 0
    width: 100px
    position: relative
    &:before
      position: absolute
      display: block
      font-size: 20px
      line-height: 20px
      // top: 0
      left: 10px
      font-family: 'Font Awesome 5 Free'
    &.button1
      &:before
        content: '\f164'
    &.button2
      &:before
        content: '\f165'
    &:first-child
      margin-top: 0
    &:nth-child(2)
      margin-bottom: 0
    &.highlighted
      background: black
      color: white
    .library &
      display: none
  .rate-description
    display: block
    clear: both
    font-size: 10px
    line-height: 10px
    width: 100%
    text-align: center
    padding: $zen-gutter-width
    .library &
      display: none

.flag-outer
  +zen-clear(both)
  +zen-float(none)
  position: relative
.flag-abuse-node
  a
    padding: 0 0 0 30px
    &:before
      position: absolute
      display: block
      font-size: 20px
      top: 0
      left: 0
      font-family: 'FontAwesome'
      content: '\f024'

.edit-submit-library
  font-family: 'FontAwesome'

/* these apply to auto-completing form fields

html.js input
  &.form-autocomplete
    background-image: url(../images/throbber.gif)
    background-position: 100% 0px
    background-repeat: no-repeat
  &.throbbing
    background-position: 100% -16px

/* these apply to all ajax progresses

.ajax-progress
  display: inline-block
  *display: inline
  *zoom: 1
  .throbber
    background: transparent url(../images/throbber.gif) no-repeat 0px 0px
    float: left
    height: 16px
    width: 16px
    margin: 2px

.flag-waiting .flag-throbber
  background: url(../images/throbber-active.gif) no-repeat right center
  padding-right: 13px

// START COMPARISON TABLE STYLES
// Thank you http://www.ericsestimate.com/

#comparetable
  width: 100%
  table-layout: fixed
  text-align: center
  margin: 4em 0
  border-collapse: collapse
  tr
    background: transparent !important
  td, th
    padding: 20px
    text-align: center
  td.rowTitle
    text-align: left

.blank
  background: none !important
  border: none !important

.clean
  th
    background-color: #dfdfdf
    font-size: 26px
    color: #585858
    text-align: center
    font-weight: 400
    text-shadow: 0 1px 0 #e0ecf7
    border: 1px solid #bbbbbb
  td
    background-color: #f0f1f1
    border: 1px solid #c8d6e2
    &.rowTitle
      font-size: 20px
      font-weight: 400

#block-menu-menu-footer
  +zen-clear()
  +zen-float(none)
  ul.menu
    &, li
      margin: 0
      padding: 0
      list-style: none
      list-style-type: none
      display: inline
    li
      a
        display: inline-block
        padding: $zen-gutter-width
        margin: 0
        text-align: left
        &:hover
          background: black
          color: white
